@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/* ==== General ==== */

body { /* body tag involves whole page */
  background:linear-gradient(to right bottom, #eb106b, #110bb8) fixed;
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  text-align: center;
}
