body {
  background: #eb106b;
  background: linear-gradient(to right bottom, #e20eed, #110bb8);
  font-family:monospace;
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  text-align: center;
}
