@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/* ==== General ==== */

body { /* body tag involves whole page */
	font-family: 'Roboto', sans-serif;
	background:linear-gradient(to right bottom, #eb106b, #110bb8);
	width: 100vw;
   height: 100vh;
	overflow:hidden;
	margin: 0;
}

.navlinks { /*nav*/
	list-style-type: none;
	padding: 1px;
	overflow: hidden;
	background-color: white;
	margin: 0;
	font-size: 17px;
	font-weight: bold;
}

.navlinks li {
	float: left;
}

.navlinks li a {
	display: inline-block;
	color: #eb106b;
	padding: 10px 14px;
	text-decoration: none;
}

.navlinks li a:hover {
	color: #110bb8;
}

.nav-box{
 	padding : 4px;
	margin: 4.5px 0 0 0;
	background: white;
}

h1{
	color: #eb106b;
	font-weight: 900;
	text-shadow: 1px 1px black;
}

.description{
	color: black;
	text-align: center; 
}

.social {
	list-style-type: none;
   float: center;
	display: inline;
	font-size: 35px;
}

.social a {
	color: #eb106b;
	text-shadow: 2.5px 2.5px #D0D0D0;
}

.social a:hover{
	color: #110bb8;
	text-shadow: 2.5px 2.5px #D0D0D0;
}
